.sign-up-container {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230720/pngtree-3d-rendered-gym-equipment-against-dark-background-image_3763736.jpg);
    background-size: cover;
  }
  h2{
    text-align: center;
    font-size: xx-large;
    color: black;
    padding-top: -100px;
  }